@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

body {
  font-family: 'Muli', Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;
  background-color: #f8f8f8
  /* background-color: #4b5361 */
}

.card {  
  border: 1px solid gray;
  border-radius: .5rem;
  text-align: center;
}

/* .card-body {
  display: flex;
  align-items: center;
} */

.navbar {
  background-color: #f8f8f8;
  height: 20%;
}

.nav-link {
  color: black;
}

nav li {
  list-style: none;
}
 
.form-control {
  border: 1px solid gray;
}

.btn {
  background-color: #ff3744;
  border: 1px solid #d9dad3;
  border-radius: .5rem
}

