@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

body {
  background-color: #efefef;
  font-family: 'Muli', Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;
}
.navbar {
  background-color: black;
}

.nav-wrapper {
  background-color: navy;
  padding: 0% 2% 1% 2%;
  font-weight: bold;
  color: black;
}

.login-title {
  text-align: center;
}
  
.card-content {
  margin: 3%;
}

